body{
    text-align: center;
}
img{
    padding: 3rem 3rem 1rem;
}
h1{
    font-family: "Big Shoulders Display";
    color: hsl(0, 0%, 95%);
    padding: 0 3rem 1rem;
    text-transform: uppercase;
    font-size: 2.5rem;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: "Lexend Deca";
    font-weight: 400;
    padding: 0 3rem 1rem;
    line-height: 1.5rem;
}

div{
    display: inline-block;
    text-align: left;
}

button{
    padding: 1rem 2rem;
    margin: 3rem 3rem 3rem;
    border-radius: 1.5rem;
    border-style: none;
    background-color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca";
}

.main{
    margin: 7% 17%;
    display: table;
    color: hsla(0, 0%, 100%, 0.75);
}
.card{
    position: relative;
    display: block;
    float: left;
    width: 33.33%;
    height: 32.5rem;
    margin: 0;
}
.first-card{
    background-color:  hsl(31, 77%, 52%);
    border-radius: 0.5rem 0 0 0.5rem;
}
.second-card{
    background-color: hsl(184, 100%, 22%);
}
.third-card{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0.5rem 0.5rem 0;
}
.first-card button{
    color: hsl(31, 77%, 52%);;
}

.second-card button{
    color: hsl(184, 100%, 22%);
}
.third-card button{
    color: hsl(179, 100%, 13%);
}

button:hover{
    border-style: solid;
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color: transparent;
}

/*************************/
@media (max-width: 375px){
    .card{
        width: 100%;
        height: 100%;
    }
    .first-card{
        border-radius: 0.5rem 0.5rem 0 0;
    }
    .third-card{
        border-radius: 0 0 0.5rem 0.5rem;
    }
    button:hover{
        border-style: solid;
        border-color: hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
        background-color: transparent;
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }